/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require angular-material.css
 *= require_tree .
 *= require_self
 */
 @import 'angular-material-rails';

.datepicker {
  .datepicker md-content {
    padding-bottom: 200px; }
  .datepicker .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px; }
}

body {
  background: url("/images/plane.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  min-height: 900px;
  margin: 0;
  padding: 0;
}

/*Header and Nav */
header {
 background: black;
}
h1#logo {
 margin: 0;
 display: inline-block;
 padding: 10px 0;
 text-transform: lowercase;
 font-family: 'Reenie Beanie', cursive;
 font-size: 3em;
}
#logo a {
 color: white;
 text-decoration: none;
 font-size: 1.1em;
}
nav {
 float: right;
 padding-top: 20px;
 text-transform: lowercase;
}
nav a {
 color: white;
 text-decoration: none;
 padding: 10px;
 font-size: 1.2em;
 font-weight: 700;
}

.container {
 max-width: 950px;
 margin: 0 auto;
 padding-left: 10px;
 padding-right: 10px;
}

.content {
   background: rgba(255,255,255,0.8);
   padding: 20px 40px 40px 40px;
   margin-top: 30px;
}

/* Welcome Page */
#welcome {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10%;
  color: white;
}

#welcome h1 {
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
  font-size: 3em;
}

#welcome input {
   display: block;
   margin-top: 10px;
   height: 20px;
   width: 300px;
}

#welcome button {
   margin-top: 10px;
}

#map_canvas {
   height: 500px;
   width: 500px;
   margin: 0px;
   position: relative;
 }

 .angular-google-map-container {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
 }
img {
  max-width: 100%;
}
.icon-container {
    text-align: center;
    clear: both;
    display: block;
    clear: both;
    overflow: auto;
    padding-top: 20px;
}
.graphic {
    font-weight: bold;
    font-size: 14px;
    width: 250px;
    padding-bottom: 30px;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
}
