<div class="content">
  <h2>Trips Index</h2>
  <form data-ng-submit="indexVm.create()">
    <input placeholder="Author" data-ng-model="indexVm.newTrip.author" />
    <input placeholder="Body" data-ng-model="indexVm.newTrip.body" />
    <input placeholder="Photo Url" data-ng-model="indexVm.newTrip.photo_url" />
    <button type="submit">Create</button>
  </form>
  <br>

  <div data-ng-repeat="trip in indexVm.trips">
    <a data-ui-sref="tripShow({id: $index})">
      <img data-ng-src="{{trip.photo_url}}">
      <p>{{trip.author}}</p>
      <p>{{trip.body}}</p>
    </a>
  </div>
</div>
