<div class="content" class="datepicker">
  <h2>Trips Index</h2>
  <form data-ng-submit="indexVm.create()">
    <input placeholder="Location" data-ng-model="indexVm.newTrip.location" />
    <md-datepicker data-ng-model="indexVm.newTrip.start"></md-datepicker>
    <md-datepicker md-min-date="indexVm.newTrip.start" data-ng-model="indexVm.newTrip.end"></md-datepicker>

    <button type="submit">Create</button>
  </form>
  <br>

  <div data-ng-repeat="trip in indexVm.trips">
    <a data-ui-sref="tripShow({id: trip.id})">
      {{trip.location}}<br>
      {{trip.start}} - {{trip.end}}
    </a>
  </div>
</div>
