<div class="content">
  <h2>Plan Somethin'</h2>
  <form data-ng-submit="indexVm.create()">
    <input placeholder="Name" data-ng-model="indexVm.newPlan.name" />
    <input placeholder="Weather" data-ng-model="indexVm.newPlan.weather" />
    <input placeholder="Things to Do" data-ng-model="indexVm.newPlan.possible_events" />
    <input placeholder="Notes" data-ng-model="indexVm.newPlan.notes" />

    <button type="submit">Create</button>
  </form>
  <br>

  <img src="/images/city-street.jpg" border="0" alt="Street" />

  <div data-ng-repeat="plan in indexVm.plans">
    <a data-ui-sref="planShow({id: plan.id})">
      {{plan.name}}
    </a>
  </div>

</div>
