<div class="content">
  <h2>Plan Somethin'</h2>
  <a href="" ng-click="showme=true">Make Plans</a>
  <br>
    <div ng-show="showme">
      <form data-ng-submit="indexVm.create()">
        <input placeholder="Name" data-ng-model="indexVm.newPlan.name" />
        <input placeholder="Image URL" data-ng-model="showVm.newPlan.img_url" />
        <input placeholder="Weather Expectations" data-ng-model="showVm.newPlan.weather" />
        <input placeholder="Outdoor Activities" data-ng-model="showVm.newPlan.outdoor_activities" />
        <input placeholder="Neighborhoods to Explore" data-ng-model="showVm.newPlan.neighborhoods" />
        <input placeholder="People to Visit" data-ng-model="showVm.newPlan.people_to_visit" />
        <input placeholder="Landmarks to Visit" data-ng-model="showVm.newPlan.landmarks" />
        <input placeholder="Museums to Visit" data-ng-model="showVm.newPlan.museums" />
        <input placeholder="Souvenirs to Buy" data-ng-model="showVm.newPlan.souvenirs" />
        <input placeholder="Food to Try" data-ng-model="showVm.newPlan.food" />
        <input placeholder= "Possible Events" data-ng-model="showVm.newPlan.possible_events" />
        <input placeholder="Notes" data-ng-model="showVm.newPlan.notes" />
        <button type="submit">Create</button>
      </form>
    </div>
  <br>

  <img src="/images/city-street.jpg" border="0" alt="Street" />
  <br>
  <h2>Other Plans</h2>
  <!-- cool ordering! didn't know you could do that-->
  <div data-ng-repeat="plan in indexVm.plans | orderBy:'name'">
    <a data-ui-sref="planShow({id: plan.id})">
      {{plan.name}}
    </a>
  </div>

</div>
