<div class="content">

  <h2>{{showVm.trip.location}}</h2>
  <p>{{showVm.trip.start | date:'mediumDate'}} - {{showVm.trip.end | date:'mediumDate'}}</p>
  <!-- <p>{{showVm.latitude}}, {{showVm.longitude}}</p> -->

  <div id="map_canvas">
    <script id="searchbox.tpl.html" type="text/ng-template">
      <input type="text" placeholder="Search">
    </script>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
      <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
      <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
      </ui-gmap-marker>
    </ui-gmap-google-map>
</div>

<a href="" ng-click="showme=true">Edit Trip</a>
  <div ng-show="showme">
    <form data-ng-submit="showVm.update()">
      <input data-ng-model="showVm.trip.location" />
      <input data-ng-model="showVm.trip.start" />
      <input data-ng-model="showVm.trip.end" />
      <button type="submit" ng-click="showme=false">Update</button>
      <button data-ui-sref="tripsIndex" data-ng-click="showVm.delete()">Delete</button>
    </form>
  </div>

  <div class="icon-container">
    <div class="graphic">
    <a data-ui-sref="plansIndex"><img src="/images/book.png" border="0" alt="Planning" /></a><br /><a data-ui-sref="plansIndex">Plan</a>
    </div>
    <div class="graphic">
    <a href="https://www.airbnb.com/s/{{showVm.trip.location}}" target="_blank"><img src="/images/home.png" alt="Hotels" /></a><br /><a href="https://www.airbnb.com/s/{{showVm.trip.location}}" target="_blank">airbnb it</a>
    </div>
    <div class="graphic">
    <a href="https://www.flickr.com/search/?q={{showVm.trip.location}}" target="_blank"><img src="/images/backpack.png" border="0" alt="Photos" /></a><br /><a href="https://www.flickr.com/search/?q={{showVm.trip.location}}" target="_blank">Photos</a>
    </div>
  </div>

</div>
