<div class="content">

  <h2>{{showVm.trip.location}}</h2>
  <p>{{showVm.trip.start | date:'mediumDate'}} - {{showVm.trip.end | date:'mediumDate'}}</p>

  <form data-ng-submit="showVm.update()">
    <input data-ng-model="showVm.trip.location" />
    <input data-ng-model="showVm.trip.start | date:'mediumDate'" />
    <input data-ng-model="showVm.trip.end | date:'mediumDate'" />
    <button type="submit">Update</button>
    <button data-ui-sref="tripsIndex" data-ng-click="showVm.delete()">Delete</button>
  </form>
  <div id="map_canvas">
    <script id="searchbox.tpl.html" type="text/ng-template">
      <input type="text" placeholder="Search">
    </script>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
      <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
      <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
      </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
</div>
