<div class="content">

  <h2>{{showVm.trip.trip.location}}</h2>
  <p>{{showVm.trip.trip.start | date:'mediumDate'}} - {{showVm.trip.trip.end | date:'mediumDate'}}</p>

  <form data-ng-submit="showVm.update()">
    <input data-ng-model="showVm.trip.trip.location" />
    <input data-ng-model="showVm.trip.trip.start" />
    <input data-ng-model="showVm.trip.trip.end" />
    <button type="submit">Update</button>
    <button data-ui-sref="tripsIndex" data-ng-click="showVm.delete()">Delete</button>
  </form>
  <div id="map_canvas">
    <script id="searchbox.tpl.html" type="text/ng-template">
      <input type="text" placeholder="Search">
    </script>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
      <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
      <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
      </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
  <div data-ng-repeat="detail in showVm.trip.details.title">
      {{trip.detail.title}}<br>
  </div>
  <form data-ng-submit="indexVm.create()">
    <input placeholder="Detail" data-ng-model="indexVm.newDetail.title" />
    <button type="submit">Add</button>
  </form>
</div>
