<div id="welcome">
<h1>Where Will You Stay?</h1>
  <form data-ng-submit="indexVm.create()">
    <input placeholder="Location" data-ng-model="indexVm.newTrip.location" />
    <input placeholder="Start Date" data-ng-model="indexVm.newTrip.start" />
    <input placeholder="End Date" data-ng-model="indexVm.newTrip.end" />

    <button type="submit">Go!</button>
  </form>
  <div id="map_canvas">
    <script id="searchbox.tpl.html" type="text/ng-template">
      <input type="text" placeholder="Search">
    </script>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
      <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
      <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
      </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
