<div id="welcome">
  <h1>Where Will You Stay?</h1>
  <div class="content" class="datepicker">
    <form data-ng-submit="indexVm.create()">
      <div id="searchBoxParent"></div>
      <md-datepicker data-ng-model="indexVm.newTrip.start"></md-datepicker><br>
      <md-datepicker md-min-date="indexVm.newTrip.start" data-ng-model="indexVm.newTrip.end"></md-datepicker><br>
      <div class="prevent" data-ng-show="indexVm.warning"> Select a Destination! </div>
      <button ng-show= "indexVm.go" type="submit">Go!</button>

  </div>
  <div id="map_canvas">
    <script id="searchbox.tpl.html" type="text/ng-template">
      <input type="text" placeholder="Search">
    </script>
    <ui-gmap-google-map data-ng-show="vm.map" center="map.center" zoom="map.zoom" draggable="true" options="options">
      <!-- nice job detaching the searchbox from the map/hiding map -->
      <ui-gmap-search-box data-ng-model="indexVm.newTrip.location" options="searchbox.options" template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box>
    </ui-gmap-google-map>
  </div>
  </form>
</div>
