<!DOCTYPE html>
<html>
  <head>
    <title>Sojourn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <base href="/" />
  </head>

  <body data-ng-app="sojourn">
    <header>
      <div class="container">
        <h1 id="logo"><a href="/">Sojourn</a></h1>
        <nav>
          <a data-ui-sref="tripsIndex">Trips</a>
        </nav>
      </div>
    </header>
    <main class="container" data-ui-view>
      <%= yield %>
    </main>
  </body>
</html>
